---
layout: default
---

<div class="container-fluid v-center tinted-image">
  <div class="row">
    
  </div>
</div>

<div class="container">
  <div id="wedding" class="row justify-content-center">
    <div class="col-12 pb-3">
      <h2 class="text-center pb-3">The Wedding</h2>
      <p class="text-center">We are getting married! Liane Manuela Matthes & Zachary Alexander Gemmell will finally say "yes" on Dec 7th, 2018, and would like to share this special moment with our loved ones.</p>
    </div>
    <div class="col-6">
      <h3 class="text-center">When</h3>
      <p class="text-center">December 7th, 2018<br/>3:00 PM</p>
    </div>
    <div class="col-6">
      <h3 class="text-center">Where</h3>
      <p class="text-center">1167 Solana Dr<br/>Del Mar, CA 92014</p>
    </div>
    <div class="col-6 pt-3 text-center">
        <a class="btn btn-light btn-block" href="https://goo.gl/forms/WqFhP11VsgzbZOIK2" role="button">RSVP</a>
    </div>
  </div>

  <div class="row">
    <div class="col-12 pt-3 pb-4">
      <hr>
    </div>
  </div>

  <div class="row align-items-center justify-content-center">
    <div class="col-12 pb-3">
        <h2 id="registry" class="text-center pb-3">Registry</h2>
        <p class="text-center pb-3">We are so happy that you’ll be able to join us for our wedding. As many of you know, we live in a small apartment, and it is already filled with all the things we could ever need to make it a home. While the presence of your company is the only gift we could ever ask for, we have set up registries for those who have expressed an interest in offering a gift to mark the occasion.</p>
      </div>
      
      <div class="col-4 col-sm-3 col-md-2">
        <a href="https://www.williams-sonoma.com/registry/fvtjk7jdtd/registry-list.html">
          <img class="img-fluid" src="assets/images/ws.svg">
        </a>
      </div>
      <div class="col-4 col-sm-3 col-md-2">
          <a href="https://www.crateandbarrel.com/gift-registry/liane-matthes-and-zack-gemmell/r5912127">
            <img class="img-fluid" src="assets/images/cb.svg">
          </a>
        </div>
      <div class="col-4 col-sm-3 col-md-2">
          <a href="https://www.amazon.com/wedding/share/zali">
            <img class="img-fluid" src="assets/images/a.svg">
          </a>
        </div>
      
    </div> 

    <div class="row">
      <div class="col pb-5">

      </div>
    </div>

   
    
<!-- 
<div class="container-fluid">
  <div class="col">
    <a id="rsvp" href="https://goo.gl/forms/A9VQkrI4uDJyPx4K2">
      <button type="button" class="btn btn-light">Répondez s'il vous plaît</button>
    </a>
  </div>
</div> -->
<!-- 
<div class="col">
    <h1 class="text-center">Zack & Liane</h1>
    <p class="text-center">Are getting married</p>
    <h2 class="text-center">December 7th, 2018</h2>
</div>
<div class="col-6">
  <p>When</p>
</div>
<div class="col-6">
  <p>Where</p>
</div> -->